@layout('main')
@section('content')
<h1 class="mb-3">Novo AP</h1>
<form action="{{ route('/add') }}" method="POST">
    {{ csrfField() }}
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputNrAP">Apartamento</label>
            <input type="text" class="form-control is-valid" name="ap" placeholder="Nro AP" value="">
            <div class="invalid-feedback">
                error!
            </div>           
        </div>
        <div class="form-group col-md-3">
            <label for="inputGaragem">Garagens</label>
            <input type="text" class="form-control is-valid" name="garagem" placeholder="Qtde Garagens" value="">
            <div class="invalid-feedback">
                error!
            </div> 
        </div>
        <div class="form-group col-md-1">
            <label for="SltEscada">Escada</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
                <option>A</option>
                <option>B</option>
            </select>
            <div class="invalid-feedback">
                error!
            </div> 
      </div> 
        <div class="form-group col-md-3">
            <label for="SltAndar">Andar</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>
                <option>Terreo</option>
                <option>1º</option>
                <option>2º</option>
                <option>3º</option>
            </select>
            <div class="invalid-feedback">
                error!
            </div>            
        </div>
    </div>
    <div class="form-row">   
        <button class="btn btn-primary" type="submit">Adiciona AP</button>
    </div>
</form>
@endsection
  