@layout('main')
@section('content')
<h1 class="mb-3">Apartamentos</h1>
<div class="list-group">
    <a href="/task/{{ item.id }}" class="list-group-item list-group-item-action">um</a>
    <a href="/task/{{ item.id }}" class="list-group-item list-group-item-action">dois</a>
    <a href="/task/{{ item.id }}" class="list-group-item list-group-item-action">tres</a>  
  </div>
@endsection