@layout('main')
@section('content')
<h1 class="mb-3">{{ title }}</h1>
<div class="list-group">
  @each(item in aptos )
  <a href="/ap/{{ item.nro_apto }}" class="list-group-item list-group-item-action">{{ item.escada_letra }}</a>    
  @endeach
</div>
@endsection