<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Building Manager</title>
  {{style('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')}}
    @!section('css_page')
    @!section('script_page')
</head>
<body>
    @include('inc/nav')
<div class="container">
    @!section('content')
</div>
</body>
</html>
